table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    background-color: aquamarine;
    table-layout: fixed;
    margin-bottom: 30px;

}


th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: aqua;
    font-style: italic;
}

.contenedor {
    background-image: url(img/imagen1.png);
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */

    width: 100%;

}

.navegacion {
    background-color: greenyellow;
    padding: 20px;
    display: flex;
    /*organizacion de los elementos dentro del contenedor*/
    justify-content: space-between;
    /* ajusta los elementos entre si  */
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 10px;
    width: auto;

}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.comentariofoto {
    color: greenyellow;
    text-align: center;
}

.texto {
    color: greenyellow;
    text-align: center;
}

.sitio {
    color: greenyellow;


}

.mediocontenedor {
    text-align: center;

}

h2 {
    text-align: center;
}

.contenedor3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

h3 {
    background-color: greenyellow;
    border-radius: 20px;
}

.icono {
    background-color: rgb(27, 9, 161);
    border-radius: 20px;

}

.icono1 {
    background-color: greenyellow;
    margin: 10px;
    border-radius: 50%;
    padding: 20px;
}

.Productos_servicios {
    background-color: rgb(219, 217, 217);
    border-radius: 10px;
}

.contenedor5 {
    background-color: rgb(219, 217, 217);
    border-radius: 20px;
    padding: 20px;
}

fieldset {
    border: none;
    padding: 20px;
}

.bloque_contacto {
    display: flex;
    justify-content: space-between;

}

.h24 {
    background-color: greenyellow;
    border-radius: 10px;
}

.contenedor6 {
    text-align: center;
    background-color: rgb(219, 217, 217);
    border-radius: 10px;
    margin-top: 20px;
}

.titulillos {
    background-color: greenyellow;
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;

}

.bloque_titulillos {
    padding-left: 80px;
    padding-right: -80px;
}

video {
    border-radius: 30px;
}

.contenedor_footer {
    text-align: center;
}

.h25 {
    background-color: aquamarine;
    border-radius: 10px;
}
.h22{
    background-color: aquamarine;
    border-radius: 10px;
}